<div class="jumbotron jumbotron-fluid home-hero mb-5">
  <div class="container">
    <h1 class="display-1 distorted" data-effect="Andrew Alsante">
      Andrew Alsante
    </h1>
  </div>
</div>
<div class="about-me">
  <div class="container">
    <h3 class="display-4 text-right mr-5 mb-4">About Me</h3>
    <p>
      I am a 27 year old Frontend Developer with over 5 years of experience building
      Websites &amp; Web Apps using modern technologies that scale.
      I focus on User Experience and designing intuitive, enjoyable products.
      I leverage my skills in Graphic Design, Web Development, Social Media,
      Video Editing, and many other creative outlets to achieve results for clients.
    </p>
  </div>
</div>
<div class="jumbotron jumbotron-fluid portfolio my-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3 class="text-light text-center">Technologies</h3>
        <div class="list-group ghost-card">
          <a href="https://angular.io/" target="_blank" class="list-group-item list-group-item-action btn-glare ghosted">
            <i class="fab fa-angular fa-fw"></i>
            <span>Angular</span>
          </a>
          <a href="http://getbootstrap.com/" target="_blank" class="list-group-item list-group-item-action btn-glare ghosted">
            <span class="fa-layers fa-fw">
              <i class="fas fa-square"></i>
              <span class="fa-layers-text text-dark"
                data-fa-transform="shrink-3"
                style="font-weight:400">B</span>
            </span>
            <span>Bootstrap</span>
          </a>
          <a href="https://firebase.google.com/" target="_blank" class="list-group-item list-group-item-action btn-glare ghosted">
            <i class="fab fa-google fa-fw"></i>
            <span>Firebase</span>
          </a>
          <a href="https://nodejs.org/" target="_blank" class="list-group-item list-group-item-action btn-glare ghosted">
            <i class="fab fa-node-js fa-fw"></i>
            <span>Node</span>
          </a>
          <a href="https://git-scm.com/about" target="_blank" class="list-group-item list-group-item-action btn-glare ghosted">
            <i class="fab fa-git fa-fw"></i>
            <span>Git</span>
          </a>
        </div>
      </div>
      <div class="col-sm-4 text-light align-self-center text-center">
        <h2>More Stuff</h2>
        <p class="lead">
          "Some review"
        </p>
      </div>
      <div class="col-sm-4">
        <h3 class="text-light text-center">Social Media</h3>
        <div class="list-group ghost-card">
          <a href="https://codepen.io/geeksmarter/" target="_blank" class="list-group-item list-group-item-action btn-glare ghosted">
            <span>Codepen</span>
            <i class="fab fa-codepen fa-fw"></i>
          </a>
          <a href="https://github.com/geeksmarter" target="_blank" class="list-group-item list-group-item-action btn-glare ghosted">
            <span>Github</span>
            <i class="fab fa-github-alt fa-fw"></i>
          </a>
          <a href="https://www.linkedin.com/in/geeksmarter/" target="_blank" class="list-group-item list-group-item-action btn-glare ghosted">
            <span>LinkedIn</span>
            <i class="fab fa-linkedin-in fa-fw"></i>
          </a>
          <a href="" target="_blank" class="list-group-item list-group-item-action btn-glare ghosted">
            <span>Twitter</span>
            <i class="fab fa-twitter fa-fw"></i>
          </a>
          <a href="" target="_blank" class="list-group-item list-group-item-action btn-glare ghosted">
            <span>Facebook</span>
            <i class="fab fa-facebook-f fa-fw"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="code-pen">
  <div class="container">
    <h2 class="text-center mb-5">
      <i class="fab fa-codepen"></i>
      <span class="ml-2">
        Codepen Creations
      </span>
    </h2>
    <div class="row">
      <div class="col-12 mb-5">
        <p data-height="600"
          data-theme-id="dark"
          data-slug-hash="QKgEmP"
          data-default-tab="result"
          data-user="geeksmarter"
          data-embed-version="2"
          data-preview="true"
          data-pen-title="Vaporwave 2.0"
          class="codepen text-center">
          See the Pen
          <a href="https://codepen.io/geeksmarter/pen/QKgEmP/">
            Vaporwave 2.0
          </a>by Andrew Alsante
          (<a href="https://codepen.io/geeksmarter">@geeksmarter</a>) option
          <a href="https://codepen.io">CodePen</a>.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-12 mb-5">
        <p data-height="600"
          data-theme-id="dark"
          data-slug-hash="zEmWRp"
          data-default-tab="result"
          data-user="geeksmarter"
          data-embed-version="2"
          data-preview="true"
          data-pen-title="You vs Zezima"
          class="codepen text-center">
          See the Pen
          <a href="https://codepen.io/geeksmarter/pen/zEmWRp/">
            You vs Zezima
          </a> by Andrew Alsante
          (<a href="https://codepen.io/geeksmarter">@geeksmarter</a>) on
          <a href="https://codepen.io">CodePen</a>.
        </p>
      </div>
    </div>

  </div>
</div>
<footer class="lead">
  &copy; 2018 Andrew Alsante &middot; Doing stuff on the innernet.
</footer>
