<h1 class="display-4">Welcome to my website!</h1>

<p>
  I am a 27 year old Frontend Developer with over 5 years of experience building
  Websites &amp; Web Apps using modern technologies that scale.
  I focus on User Experience and designing intuitive, enjoyable products.
  I leverage my skills in Graphic Design, Web Development, Social Media,
  Video Editing, and many other creative outlets to achieve results for clients.
</p>

<div>
  <span class="lead">Technologies that I enjoy working with are</span>
  <ul>
    <li>Bootstrap <span class="text-muted">&mdash; UI</span></li>
    <li>Angular <span class="text-muted">&mdash; Frontend</span></li>
    <li>Firebase <span class="text-muted">&mdash; Backend</span></li>
    <li>Node <span class="text-muted">&mdash; Enviroment</span></li>
    <li>Git <span class="text-muted">&mdash; Source Control</span></li>
  </ul>
</div>

<h2>Have Questions?</h2>

<p>
  <i class="fab fa-slack-hash fa-lg"></i>
  Let's talk on the
  <a target="blank" href="https://join.slack.com/t/angularfirebase/">
    Angular Firebase Developers Slack Team
  </a>
</p>

<h2>Free Open Source Screencasts</h2>

<p>
  <i class="fab fa-youtube fa-lg"></i>
  Subscribe to the
  <a href="https://www.youtube.com/channel/UCsBjURrPoezykLs9EqgamOA">
    AngularFirebase YouTube Channel
  </a> for weekly lessons.
</p>
