@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Palanquin');

///// Content

$heading-font: 'Palanquin', sans-serif;

body {
  margin-top: 4rem;
  overflow-y: scroll;
}

.logo {
  font-size: 1.2em;
  font-weight: 700;
  font-family: $heading-font;
  color: #1D262F;
  img {
    margin-right: 5px;
  }
}

.blurred {
  filter: blur(10px);
}

.modal {
overflow-y: auto;
}

.modal-open {
overflow: auto;

}

///// Social Buttons

.btn-twitter:hover,
.btn-twitter:focus {
  color: white;
  background-color: #55ACEE;
}
.btn-facebook:hover,
.btn-facebook:focus {
  color: white;
  background-color: #3B5998;
}

.btn-github:hover,
.btn-github:focus {
  color: white;
  background-color: #333333;
}

.btn-google:hover,
.btn-google:focus {
  color: white;
  background-color: #DD4B39;
}
