@import 'variables';
@import 'mixins';
@import url('https://fonts.googleapis.com/css?family=Palanquin');

:root {
  --mAngle: -15rem;
	--pAngle: 15rem;
  --mMobile: -5rem;
	--pMobile: 5rem;
}

///// Content
$heading-font: 'Palanquin', sans-serif;

body {
  margin-top: 3.55rem;
  overflow-y: scroll;
}

.logo {
  font-size: 1.2em;
  font-weight: 700;
  font-family: $heading-font;
  color: #1D262F;
  img {
    margin-right: 5px;
  }
}

///// Social Buttons

.btn-twitter {
  // color: #55ACEE;
  color: white;

  &:hover, &:focus {
    color: white;
    background-color: #55ACEE;
  }
}
.btn-facebook {
  // color: #3B5998;
  color: white;

  &:hover, &:focus {
    color: white;
    background-color: #3B5998;
  }
}

.btn-github {
  // color: #333333;
  color: white;

  &:hover, &:focus {
    color: white;
    background-color: #333333;
  }
}

.btn-google {
  // color: #DD4B39;
  color: white;

  &:hover, &:focus {
    color: white;
    background-color: #DD4B39;
  }
}

.ghost-card {
  background-color: rgba(#222, 0.25);

  .ghosted{
    background-color: rgba(#222, 0.25);

    &:hover, &:focus {
      background-color: rgba(#222, 0.35);
    }
    &:active {
      background-color: rgba(#222, 0.45);
    }
  }
}

.btn-glare {
  color: white !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;

  span {
    z-index: 20;
  }

  &:after {
    background: #aaa;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
  }
}

.btn-glare:hover {
  &:after {
    left: 120%;
    transition: all 750ms cubic-bezier(0.19, 1, 0.22, 1);
  }
}

.home-hero {
  @include angle(after);
  color: white;
  background-color: #4e4376;
  background-image: linear-gradient(70deg, #2b5876 0, #4e4376 100%);
  z-index: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  font-weight: 700;
}

.about-me {
  @include angle(after, true);
  font-size: 1.6rem;
  line-height: 4.5rem;
  margin: -3rem 0;
  padding-top: 15rem;
  padding-bottom: 12rem;
  background-image: url('assets/images/funky-lines.png');
  background-repeat: repeat;
  z-index: 0;
}

.portfolio {
  padding: 15rem 0;
  background-image: linear-gradient(-20deg, #2b5876 0, #4e4376 100%);
}

.code-pen {
  @include angle(before, true);
  margin-top: -3rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
  z-index: 2;
  color: white;
  background-color: #333;
}

footer {
  padding: 5rem 0;
  text-align: center;

  // background-image: url('assets/images/what-the-hex.png');
  &:before {
    content: '';
    color: red;
    background: #333;
    clip-path: polygon(50% 33%, 0 0, 100% 0);
    width: 100%;
  }
}

.social-login {
  @include angle(after, true);
  color: white;
  background-image: linear-gradient(-120deg, #2b5876 0, #4e4376 100%);
  padding-bottom: 3rem;
}

.login-form {
  background-image: url('assets/images/what-the-hex.png');
  padding: 6rem 0;
}

.distorted {
	position: relative;

	&::after, &::before {
		content: attr(data-effect);
		position: absolute;
		mix-blend-mode: color;
		left: 0;
		top: 0;
	}
}

.distorted::after{
	color: #c9106e;
  transform: translateX(5px);
  animation: glitchLayer1 10s linear infinite;
}

.distorted::before {
	color: lime;
  transform: translateX(-5px);
  animation: glitchLayer2 10s linear infinite;
  animation-delay: 50ms;
}

@keyframes glitchLayer1 {
  0%, 25%, 27%, 81%, 83%, 84%, 88%, 100%  {
    transform: translateX(0px);
  }
  26%, 82%, 87% {
    transform: translateX(5px);
  }
}

@keyframes glitchLayer2 {
  0%, 25%, 27%, 81%, 83%, 86%, 88%, 100% {
    transform: translateX(0px);
  }
  26%, 82%, 87% {
    transform: translateX(-5px);
  }
}
