<div class="row">
  <div class="col-md-6 col-lg-9">
    <user-form></user-form>
  </div>
  <div class="col">
    <div class="list-group">
      <button (click)="signInWithGoogle()" class="list-group-item list-group-item-active btn-google">
        <i class="fab fa-google fa-lg"></i>
        <span class="d-none">Connect Google</span>
      </button>

      <button (click)="signInWithGithub()" class="list-group-item list-group-item-active btn-github">
        <i class="fab fa-github fa-lg"></i>
        <span class="d-none">Connect GitHub</span>
      </button>

      <button (click)="signInWithFacebook()" class="list-group-item list-group-item-active btn-facebook">
        <i class="fab fa-facebook fa-lg"></i>
        <span class="d-none">Connect Facebook</span>
      </button>

      <button (click)="signInWithTwitter()" class="list-group-item list-group-item-active btn-twitter">
        <i class="fab fa-twitter fa-lg"></i>
        <span class="d-none">Connect Twitter</span>
      </button>

      <button (click)="signInAnonymously()" class="list-group-item list-group-item-active btn-twitter">
        <i class="fa fa-user-secret fa-lg"></i>
        <span class="d-none">Connect Anonymously</span>
      </button>
    </div>
  </div>
</div>
