<div class="card">
  <h3 class="card-header" [ngClass]="{ 'strike-out': !item.active }">
    {{ item.title || 'missing title' }}
  </h3>

  <div class="card-body">
    Task Active?: {{ item.active }}<br>
    {{ item.timeStamp | date: 'medium' }}
  </div>

  <div class="card-footer d-flex">
    <span class="btn btn-small btn-outline-info" (click)='updateTimeStamp()'>Update Timestamp</span>
    <span class="btn btn-small btn-outline-success ml-2" *ngIf='item.active' (click)='updateActive(false)'>Mark Complete</span>
    <span class="btn btn-small btn-outline-warning ml-2" *ngIf='!item.active' (click)='updateActive(true)'>Mark Incomplete</span>
    <span class="btn btn-small btn-link text-danger ml-auto" (click)='deleteItem()'>Delete</span>
  </div>
</div>
