<h3>New Task Form</h3>

<label class="label">Name: </label>

<div class="input-group">
  <input placeholder="Item Title" class="form-control"
  [(ngModel)]="item.title"
  required minlength="2" maxlength="23"
  #title='ngModel' autofocus>
  <div class="input-group-append">
    <button class="btn btn-primary" (click)='createItem()' [disabled]="!title.valid">Create</button>
  </div>
</div>

<div *ngIf="title.dirty">
  <span *ngIf='title.errors; then errors else valid'>template renders here...</span>
</div>

<ng-template #valid>
  <small class="form-text text-success">looks good!</small>
</ng-template>

<ng-template #errors>
  <small class="form-text text-danger">form contains errors!</small>
</ng-template>
