<button id="logo">
  <i class="icon closeable" aria-hidden="true"><span></span></i> andrews.codes<span class="cursor"></span>
</button>
<div id="wrapper">  
  <nav>
    <ul>
      <li><a href="http://codepen.io/geeksmarter/full/QKgEmP/" target="_blank">A E S T H E T I C</a></li>
      <li><a href="http://www.geeksmarter.com" target="_blank">Geek Smarter</a></li>
      <li><a href="http://www.rescuekorea.org" target="_blank">Rescue Korea</a></li>
      <li><a href="http://www.4vetsproject.com" target="_blank">4Vet's Project</a></li>
      <li><a href="http://www.idoctorkiosk.com" target="_blank">iDoctor Kiosks</a></li>
    </ul>
  </nav>

  <section id="content">
    <div class="fold">
      <h1>Websites for <span id="changingword">everyone</span></h1>
      <p class="lead">The web is for telling your story, I'll help you tell it right.</p>
      <div class="fold-bg">
        <video loop muted autoplay poster="images/buttons.jpg" class="fold-video">
          <!-- Will need to make this type
          <source src="video/buttons.webm" type="video/webm"> -->
          <source src="video/buttons.mp4" type="video/mp4">
          <!-- Will need to make this type
          <source src="video/buttons.ogv" type="video/ogg"> -->
        </video>
      </div>
    </div>

    <div class="skew">
      <div class="content">
          <h1>About me &amp; What I do</h1>
          <div class="about">
            <a href="#aesthetic">
              <img class="glitch" src="images/meandsteveo.jpg" alt="A picture of me and Steve-O." />
            </a>

            <div>
              <p>I've been making Web Sites &amp; Apps with the most kickass technology I can get my hands on for <em>over five years</em>. I'm <em>self taught</em> and always eager to learn more. I focus on <em>User Experience</em> and designing intuitive, enjoyable digital products. My skillset leverages <em>Graphic Design</em>, <em>Web Development</em>, Social Media, Video Editing, and many other creative solutions to achieve results for clients. I am able to build small components or entire systems to achieve these goals.</p>

              <p>Big or small, I look for projects with <em>meaning</em>. I've squashed major bugs so that <em>animal shelters</em> can continue to find homes for abandoned pets. I helped a <em>veteranen entrepreneur</em> recover and rebuild his site, after a bad experience with another developer that could have ended his business. I made the work of my colleagues, at a <em>Fortune 500</em> company, easier by providing support tools to better assist customers.</p>

              <p>In my personal time, I make <em>original content</em> for Facebook; <em>Memes</em>, shenanigans or various things that sometimes gain notariety. I work on many side projects, most prominently, a video-chat social network called <em>Ditto</em> with a friend. I live with my girlfriend of 3 years, Connie, and our ball python, Osiris.</p>
            </div>
          </div>

      </div>
    </div>

    <div class="social">
      <div class="content">
        <h1>Social Media Profiles</h1>
        <div class="networks">

          <a href="https://www.facebook.com/geeksmarter" target="_blank">
            <div class="network facebook">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </div>
          </a>
          <a href="https://www.github.com/geeksmarter" target="_blank">
            <div class="network github">
              <i class="fa fa-github" aria-hidden="true"></i>
            </div>
          </a>
          <a href="https://www.snapchat.com/add/thatgeekandrew" target="_blank">
            <div class="network snapchat">
              <i class="fa fa-snapchat-ghost" aria-hidden="true"></i>
            </div>
          </a>
          <a href="https://www.linkedin.com/in/geeksmarter" target="_blank">
            <div class="network linkedin">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </div>
          </a>
          <a href="https://www.codepen.io/geeksmarter" target="_blank">
            <div class="network codepen">
              <i class="fa fa-codepen" aria-hidden="true"></i>
            </div>
          </a>
          <a href="https://soundcloud.com/geeksmarter" target="_blank">
            <div class="network soundcloud">
              <i class="fa fa-soundcloud" aria-hidden="true"></i>
            </div>
          </a>
        </div>

        <p>Links direct to my social profiles.</p>

      </div>
    </div>
    
    <div class="portfolio">
      <div class="content">
        <h1>Work &amp; Play</h1>
        <div class="projects">
          
          <a href="http://www.geeksmarter.com" target="_blank" class="thumbnail">
            <h3>Geek Smarter</h3>
            <img src="/images/portfolio/geeksmarter.png" alt="Geek Smarter thumbnail" />
          </a>
          
          <a href="http://www.rescuekorea.org" target="_blank" class="thumbnail">
            <h3>Rescue Korea</h3>
            <img src="/images/portfolio/rescuekorea.png" alt="Rescue Korea thumbnail" />
          </a>
          
          <a href="http://www.github.com/geeksmarter/xyz" target="_blank" class="thumbnail">
            <h3>Ship Your XYZ</h3>
            <img src="/images/portfolio/xyz.png" alt="Ship Your XYZ thumbnail" />
          </a>
          
          <a href="http://www.github.com/geeksmarter/dci" target="_blank" class="thumbnail">
            <h3>TWC Product Emulator</h3>
            <img src="/images/portfolio/twc.png" alt="TWC Emulator thumbnail" />
          </a>
          
          <a href="http://www.4vetsproject.com" target="_blank" class="thumbnail">
            <h3>4Vets Project</h3>
            <img src="/images/portfolio/4vets.png" alt="4Vets Project thumbnail" />
          </a>
          
          <a href="http://www.geeksmarter.com" target="_blank" class="thumbnail">
            <h3>Ditto</h3>
            <img src="/images/portfolio/ditto.png" alt="Ditto thumbnail" />
          </a>
          
        </div>
      </div>
    </div>
    <footer>
      <p>&copy; 2017</p>
    </footer>

  </section>
</div>

<script>
$(document).ready(function() {
  (function(){
    var words = [
      'causes',
      'awareness',
      'movements',
      'non-profits',
      'individuals',
      'researchers',
      'leaders',
      'humor',
      'satire',
      'free speech',
      'brands',
      'shops',
      'agencies',
      'designers',
      'companies',
      'educators',
      'businesses',
      'startups',
      'bloggers',
      'streamers',
      'musicians',
      'artists',
      'galleries',
      'performers',
      'creators',
      'gamers',
      'makers',
      'products',
      'photographers',
      'bar & grills',
      'restaurants',
      'entrepreneurs',
      'dealerships',
      'contractors',
      'mom & pop',
      'communities',
      'ad campaigns',
      'content creators',
      'professionals',
      'marketers'
    ], i = 0;
    setInterval(function(){
      $('#changingword').fadeOut(function(){
        var random = Math.floor(Math.random()* words.length);
        $(this).text(words[random]).fadeIn();
      });
    }, 4000);
  })();

  $('button#logo').on('click', function(){
    $('#wrapper').toggleClass('moveOver');
    $('nav').toggleClass('moveOver');
    $('.closeable').toggleClass('active');
  });

  $('#content').on('click', function(){
    $('#wrapper').removeClass('moveOver');
    $('nav').removeClass('moveOver');
    $('.closeable').removeClass('active');
  });

  $('.network').hover(function() {
    var a = Math.random() * 10 - 5;
    $(this).css('transform', 'rotate(' + a + 'deg) scale(1.25)');
  }, function() {
    $(this).css('transform', 'none');
  });

  $('.thumbnail img').hover(function() {
    var a = Math.random() * 10 - 5;
    $(this).css('transform', 'rotate(' + a + 'deg) scale(1.2)');
  }, function() {
    $(this).css('transform', 'none');
  });

  $('.md-trigger').on('click', function() {
    $('.md-modal').addClass('md-show');
  });

  $('.md-close').on('click', function() {
    $('.md-modal').removeClass('md-show');
  });
});

</script>